div#controlers0 {
    width: 100%;
}

div#controlers1 {
    width: 100%;
}

.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
    background: #007bb9!important;
    color: white;
    font-size: 14px;
}
