div#controlers0 {
    width: 100%;
}

div#controlers1 {
    width: 100%;
}

.awt-vis-controls-csvFilter .awt-csvFilter-label {
    padding-right: 4px;
    margin-right: auto;
    padding: 10px;
    flex: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
    background: #007bb9!important;
    color: white;
    font-size: 14px;
}
